<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BurgerApp</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css"/>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/burger.js"></script>
	</head>
	<body>
		{{{ body }}}

	{{!-- Add in jQuery --}}
	</body>
</html>